
{% set cta = cta|default(null) %}

{% set contentCards = contentCards|default(null) %}
{% set infoCards = infoCards|default(null) %}
{% set squareCards = squareCards|default(null) %}
{% set landscapeCards = landscapeCards|default(null) %}

{% set gridClass1 = fullWithPage 
    ? 'grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4' 
    : 'grid grid-cols-1 sm:grid-cols-2 gap-6' %}

{% set gridClass2 = fullWithPage 
    ? 'grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4' 
    : 'grid grid-cols-1 sm:grid-cols-2 gap-6' %}

<div class="mb-20">
    {# Content cards #}
    {% if contentCards and contentCards|length %}
        <div class="{{ gridClass1 }}">
            {% for card in contentCards %}
                {% set linkedEntry = null %}

                {% if card.entry is not empty and card.entry is instance of('lenz\\linkfield\\models\\element\\ElementLink') %}
                    {% set linkedEntry = craft.entries()
                        .id(card.entry.linkedId)
                        .siteId(card.entry.linkedSiteId)
                        .one() %}
                {% endif %}

                <a 
                    href="{{ linkedEntry.url|default("#") }}" 
                    title="{{ linkedEntry.title|default("") }}">
                    {% include "components/cards/_content-card" with {
                        title: card.title ?: (linkedEntry ? linkedEntry.title : ""),
                        description: card.description ?: (linkedEntry ? linkedEntry.pageDescription : ""),
                    } %}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if infoCards and infoCards|length %}
        <div class="{{ gridClass2 }}">
            {% for card in infoCards %}
                {% set linkedEntry = null %}

                {% if card.entry is not empty and card.entry is instance of('lenz\\linkfield\\models\\element\\ElementLink') %}
                    {% set linkedEntry = craft.entries()
                        .id(card.entry.linkedId)
                        .siteId(card.entry.linkedSiteId)
                        .one() %}
                {% endif %}

                <a 
                    href="{{ linkedEntry.url|default("#") }}" 
                    title="{{ linkedEntry.title|default("") }}">
                    {% include "components/cards/_info-card" with {
                        title: card.title ?: (linkedEntry ? linkedEntry.title : ""),
                        description: card.description ?: (linkedEntry ? linkedEntry.pageDescription : ""),
                        image: linkedEntry.pageImage.one()|default(null),
                        ctaText: card.ctaText|default(null)
                    } %}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if squareCards and squareCards|length %}
        <div class="{{ gridClass1 }}">
            {% for card in squareCards %}
                {% set linkedEntry = null %}

                {% if card.entry is not empty and card.entry is instance of('lenz\\linkfield\\models\\element\\ElementLink') %}
                    {% set linkedEntry = craft.entries()
                        .id(card.entry.linkedId)
                        .siteId(card.entry.linkedSiteId)
                        .one() %}
                {% endif %}

                <a 
                    href="{{ linkedEntry.url|default("#") }}" 
                    title="{{ linkedEntry.title|default("") }}">
                    {% include "components/cards/_square-card" with {
                        title: card.title ?: (linkedEntry ? linkedEntry.title : ""),
                        subtitle: card.subtitle|default(null),
                        image: linkedEntry.pageImage.one()|default(null),
                    } %}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if landscapeCards and landscapeCards|length %}
        <div class="{{ gridClass1 }}">
            {% for card in landscapeCards %}
                {% set linkedEntry = null %}

                {% if card.entry is not empty and card.entry is instance of('lenz\\linkfield\\models\\element\\ElementLink') %}
                    {% set linkedEntry = craft.entries()
                        .id(card.entry.linkedId)
                        .siteId(card.entry.linkedSiteId)
                        .one() %}
                {% endif %}

                <a 
                    href="{{ linkedEntry.url|default("#") }}" 
                    title="{{ linkedEntry.title|default("") }}">
                    {% include "components/cards/_landscape-card" with {
                        title: card.title ?: (linkedEntry ? linkedEntry.title : ""),
                        description: card.description ?: (linkedEntry ? linkedEntry.pageDescription : ""),
                        image: linkedEntry.pageImage.one()|default(null),
                        ctaText: card.ctaText|default(null)
                    } %}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if cta and cta|length %}
        <div class="mt-4 flex items-center gap-3 justify-center flex-wrap">
            {% for cta in cta %}
                <a href="{{ cta.linkField }}" class="btn-primary">{{ cta.linkField.getCustomText() }}</a>
            {% endfor %}
        </div>
    {% endif %}
</div>