{% import 'macros/_utils' as utils %}

{% set item = chunk.entry %}

<div class="mb-20 grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
        <h2 class="h2">{{ item.title }}</h2>

        <div class="text-container">
            {{ item.text|raw }}
        </div>

        {% if item.cta|length %}
            <div class="mt-3 flex items-center gap-3">
                {% for cta in item.cta.all() %}
                    <a href="{{ cta.linkField }}" class="btn-primary">{{ cta.linkField.getCustomText() }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="aspect-video">
        {{ utils.image(chunk.entry.image.one(), 'w-full h-full object-cover rounded-lg', 480, 270, 336, 205) }}
    </div>

</div>