<!DOCTYPE html>
<html lang="{{ craft.app.language }}">

        <head>
            <meta charset="utf-8"/>

            {# {% set prefetchUrls = [
                "https://x.cloudfront.net"
            ] %}
            {% set headerLink = "Link: " %}
            {% for url in prefetchUrls %}
                {% set headerLink = headerLink ~ "<#{url}>; rel=dns-prefetch;," %}
                {% set headerLink = headerLink ~ "<#{url}>; rel=preconnect; crossorigin;" %}
                {% if not loop.last %}
                    {% set headerLink = headerLink ~ "," %}
                {% endif %}
                <link rel="dns-prefetch" href="{{ url }}">
                <link rel="preconnect" href="{{ url }}" crossorigin>
            {% endfor %}
            {% header headerLink %} #}

            {# Google Fonts #}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

            <link rel="preload" href="{{ craft.vite.asset("src/css/style.pcss") }}" as="style"/>
            <link rel="stylesheet" href="{{ craft.vite.asset("src/css/style.pcss") }}"></link>

            {{ craft.vite.script("src/js/app.js", true) }}

            <meta name="csrf-token-name" content="{{ craft.app.config.general.csrfTokenName }}"/>
            <meta name="csrf-token" content="{{ craft.app.request.csrfToken }}" />

            <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
            <meta name="referrer" content="origin-when-cross-origin" />

            {# Favicon #}
            {# {% set icon = '/img/favicon.png' %}
            {% set sizesIcon = [192, 48, 32, 16] %}
            {% set sizesAppleTouch = [180] %}
            {% for faviconSize in sizesIcon %}
                {{tag('link', {
                    rel: 'icon',
                    sizes: faviconSize~'x'~faviconSize,
                    type: 'image/png',
                    href: craft.vite.asset(icon, true),
                }) }}
            {% endfor %}
            {% for faviconSize in sizesAppleTouch %}
                {{tag('link', {
                    rel: 'apple-touch-icon',
                    sizes: faviconSize~'x'~faviconSize,
                    href: craft.vite.asset(icon, true)
                }) }}
            {% endfor %} #}
        </head>

    <body class="antialiased body-wrapper" style="--primary-color: {{ site.siteColor }};">
        <div class="page-wrapper">
            {% include "components/layout/_header" %}

            <main>
                {% block content %}
                {% endblock %}
            </main>

            {% include "components/layout/_footer" %}
        </div>
    </body>
</html>
