{% import 'macros/_utils' as utils %}

<section class="relative w-full h-[350px] flex flex-col items-center justify-center bg-cover bg-center">
    {{ utils.image(entry.heroImage.one(), 'w-full h-full object-cover pointer-events-none', 1885, 350, 665, 350) }}

    <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center">
        <div class="md:w-1/2 text-center">
            <h1 class="h1 text-white text-shadow">{{ entry.heroTitle }}</h1>
            <p class="text-white text-shadow">{{ entry.heroDescription }}</p>

            {% if entry.heroCta|length %}
                <div class="mt-4 flex items-center gap-3 justify-center">
                    {% for cta in entry.heroCta.all() %}
                        <a href="{{ cta.linkField }}" class="btn-primary">{{ cta.linkField.getCustomText() }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</section>
